@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #13daec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hidden {
  scrollbar-width: none;
}

.scroll-thin {
  scrollbar-width: thin;
}

/* @layer components {
  .input-field {
    @apply w-full px-4 py-3 bg-white border border-gray-200 text-ink placeholder:text-gray-400 font-body text-sm focus:outline-none focus:border-ink transition-colors duration-200 rounded-none;
  }
} */